body {
  padding: 10px;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

#videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.addPersonDiv{
  max-width: 330px;
}

img {
    padding: 0;
    margin: 0;
}

.container .header {
    text-align: center;
    top: 60px;
    bottom: 330px;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    height: 330px;
    /* overflow-y: scroll; */
}

.container .content {
    top: 410px;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: auto;
    overflow-y: auto;
}

.container .content.center{
    width: 195px;
    text-align: center;
}

.center > #peopleInfo{
    text-align: left;
    position: absolute;
    top: 60px;
}

a.remove {
    color: red;
    font-size: 2em;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #cceeff;
    color: #222;
}

.tab-content{
    display: none;
    /* background: #ededed; */
    /* padding: 15px; */
}

.tab-content.current{
    display: inherit;
}

#progress_bar {
	width: 400px;
    margin: 0 auto;
}